* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.none {
  display: none;
}
.selected {
    background-color: red; 
    color: white; 
  }

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.container .start-game {
  width: 1=200px;
  height: 30px;

}

.container .question {
  border: 1px solid #000;
  padding: 20px 30px;
  text-align: center;
}
.container .options {
  width: 600;
  display: flex;
}

.options .option {
  margin: 50px 20px;
  width: 120px;
  height: 50px;
}

.restart,.next { 
    margin-top: 20px;
    margin-left:50% ;
    transform: translateX(-50%);
    width: 100px;
    height: 40px;
}